<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" type="image/png" href="https://static.hyperion.tf/hyperion/img/favicon.ico"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css"/>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <title>Graph PR</title>
</head>

<body style="background-color: #E0E0E0;">
	<header class="">
		<div class="row grey">
		<div class="col l12">
			<h3 class="center">Calcul des distances de PR</h3>
		</div>
	</header>
	<div class="divider"></div>
	<div class="col s9" style="background-color: #E0E0E0;">
		{% block content %}{% endblock %}
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
	
</body>
</html>