{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col s12 center">
		<a href="/logout" class="waves-effect waves-light btn center">Déconnexion</a>
	</div>
</div>
<div class="row">
	<div class="col s3"></div>
	<div class="col s6">
<form method="post" enctype="multipart/form-data" action="/">
	{% csrf_token %}
	<div class="col s12 center">
	<div class="row center">
		<div class="file-field input-field">
			<div class="btn red">
				<span>Import .csv</span>
				<input type="file" accept=".csv" id="id_file" name="file"/>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" type="text" placeholder="Upload file"/>
			</div>
		</div>
	</div>
	<button class="btn blue" type="submit" value="next">Upload</button>
	</div>
</form>
</div></div>
{% endblock %}