{% extends "base.html" %}
{% block content %}


<div class="row">
<div class="col s3"></div>
<div class="col s6">
<h3>Se connecter</h3>
<form class="site-form" method="post" action="/login/">
	{% csrf_token %}
	<div class="row">
		{{ form }}
	</div>
	<button type="submit">Login</button>
</form>
</div></div>
{% endblock %}