{% extends "base.html" %}
{% block content %}


<div class="row">
<div class="col s3"></div>
<div class="col s3">
<h4>Déconnexion effectuée</h4>
<a href="/">Retour</a>
</div></div>
{% endblock %}