{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="container">
        <h4>Fichier traité</h4>
    </div>
</div>
<div class="row">
    <div class="col s12 center">
        <a class="btn green waves-effect waves-light center" href="{{ output }}">Télécharger le CSV traité</a>
    </div>
</div>
{% endblock %}
